.idea
vendor
composer.lock
var
.aider*
.php-cs-fixer.cache
.env
builds/
repomix-output.txt


# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+
!/**/.gitkeep
