<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API Configuration</title>
        <title lang="de-DE">API Einstellungen</title>
        <input-field>
            <name>apiUsername</name>
            <label>API User-ID | DEMO User-ID: 6</label>
            <label lang="de-DE">API User-ID | DEMO User-ID: 6</label>
            <helpText>Enter the user ID you received from us for the web service her.</helpText>
            <helpText lang="de-DE">Tragen Sie die von uns erhaltene API-User-ID ein.</helpText>
        </input-field>
        <input-field>
            <name>apiKey</name>
            <label>API Key | DEMO API Key: nTI9kbsniVWT13Ns</label>
            <label lang="de-DE">API Key | DEMO API Key: nTI9kbsniVWT13Ns</label>
            <helpText>Enter the API Key you received from us for the web service here.</helpText>
            <helpText lang="de-DE">Tragen Sie den von uns erhaltenen API-Key ein.</helpText>
        </input-field>
        <input-field>
            <name>apiSalt</name>
            <label>API Salt | DEMO API Salt: oateouq974fpby5t6ldf8glzo85mr9t6aebozrox</label>
            <label lang="de-DE">API Salt | DEMO API Salt: oateouq974fpby5t6ldf8glzo85mr9t6aebozrox</label>
            <helpText>Enter the API Salt you received from us for the web service here.</helpText>
            <helpText lang="de-DE">Tragen Sie den von uns erhaltenen API-Salt ein.</helpText>
        </input-field>
        <input-field type="single-select">
            <name>apiLanguage</name>
            <options>
                <option>
                    <id>de</id>
                    <name>German</name>
                    <name lang="de-DE">Deutsch</name>
                    <name lang="nl-NL">Duits</name>
                </option>
                <option>
                    <id>en</id>
                    <name>English</name>
                    <name lang="de-DE">Englisch</name>
                    <name lang="nl-NL">Engels</name>
                </option>
                <option>
                    <id>nl</id>
                    <name>Dutch</name>
                    <name lang="de-DE">Niederländisch</name>
                    <name lang="nl-NL">Nederlands</name>
                </option>
            </options>
            <defaultValue>de</defaultValue>
            <label>API-Language</label>
            <label lang="de-DE">API-Sprache</label>
            <helpText>Choose the language for the webservice.</helpText>
            <helpText lang="de-DE">Wählen Sie die gewünschte Sprache für den Webservice.</helpText>
        </input-field>
        <component name="topdata-connector-test-connection">
            <name>configtestconnection</name>
        </component>
    </card>
    <card>
        <title>mapping options</title>
        <title lang="de-DE">Mapping Einstellungen</title>
        <input-field type="single-select">
            <name>mappingType</name>
            <options>
                <option>
                    <id>default</id>
                    <name>Standard mapping via MPN / EAN</name>
                    <name lang="de-DE">Standard-Mapping über MPN / EAN</name>
                </option>
                <option>
                    <id>distributorDefault</id>
                    <name>Mapping via article numbers of your distributor (article number field)</name>
                    <name lang="de-DE">Mapping über die Artikelnummern Ihres Lieferanten (Artikelnummerfeld)</name>
                </option>
                <option>
                    <id>custom</id>
                    <name>User defined mapping via MPN / EAN (Property group field)</name>
                    <name lang="de-DE">Benutzerdefiniertes Mapping über MPN / EAN (Eigenschaftenfeld)</name>
                </option>
                <option>
                    <id>distributorCustom</id>
                    <name>User defined mapping via article numbers of your distributor (Property group field)</name>
                    <name lang="de-DE">Benutzerdefiniertes Mapping über die Artikelnummern Ihres Lieferanten (Eigenschaftenfeld)</name>
                </option>
                <option>
                    <id>customField</id>
                    <name>User defined mapping via MPN / EAN (Customfield)</name>
                    <name lang="de-DE">Benutzerdefiniertes Mapping über MPN / EAN (Zusatzfeld)</name>
                </option>
                <option>
                    <id>distributorCustomField</id>
                    <name>User defined mapping via article numbers of your distributor (Customfield)</name>
                    <name lang="de-DE">Benutzerdefiniertes Mapping über die Artikelnummern Ihres Lieferanten (Zusatzfeld)</name>
                </option>
                <option>
                    <id>productNumberAsWsId</id>
                    <name>Mapping via Top-ID (article number field)</name>
                    <name lang="de-DE">Mapping über Top-ID (Artikelnummerfeld)</name>
                </option>
            </options>
            <defaultValue>default</defaultValue>
            <label>Please choose your mapping variant</label>
            <label lang="de-DE">Bitte wählen Sie Ihre produkt Mapping-Variante aus</label>
            <helpText>Select how you want our articles to be linked to our product database (mapping) *1</helpText>
            <helpText lang="de-DE">Legen Sie fest, wie Ihre Artikel mit unserer Produktdatenbank verknüpft werden sollen (Mapping)*1</helpText>
        </input-field>
        <input-field>
            <name>attributeOem</name>
            <label>MPN Field</label>
            <label lang="de-DE">OEM-Feld</label>
            <helpText>Enter the technical name of the MPN property group-/customfield you have defined</helpText>
            <helpText lang="de-DE">Geben Sie den technischen Namen des von Ihnen festgelegten OEM Eigenschaften-/Zusatzfeldes an</helpText>
        </input-field>
        <input-field>
            <name>attributeEan</name>
            <label>EAN Field</label>
            <label lang="de-DE">EAN-Feld</label>
            <helpText>Enter the technical name of the EAN property group-/customfield you have defined</helpText>
            <helpText lang="de-DE">Geben Sie den technischen Namen des von Ihnen festgelegten EAN Eigenschaften-/Zusatzfeldes an</helpText>
        </input-field>
        <input-field>
            <name>attributeOrdernumber</name>
            <label>Distributor product number field</label>
            <label lang="de-DE">Lieferanten- Artikelnummer-Feld</label>
            <helpText>Enter the technical name of the distributor articlenumber property group-/customfield you have defined</helpText>
            <helpText lang="de-DE">Geben Sie den technischen Namen des von Ihnen festgelegten Lieferanten Artikelnummer Eigenschaften-/Zusatzfeldes an</helpText>
        </input-field>
    </card>
</config>