{% block topdata_connector %}
    <sw-page>
        <template slot="smart-bar-header">
            <h2>
                {{ $tc('topdata-connector.header') }}
            </h2>
        </template>

        <template slot="smart-bar-actions">
        </template>

        <template slot="content">
            <sw-card-view>
                <sw-loader v-if="isLoading">
                </sw-loader>
                <sw-card v-if='pluginsEnabled.TopdataConnectorSW6'>
                    <h3>{{ $tc('topdata-connector.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataConnectorSW6' }}">
                        {{ $tc('topdata-connector.settings') }}
                    </sw-button>
                    <sw-button-process
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        @process-finish="testFinish"
                        @click="onClickTest">
                        {{ $tc('topdata-connector.test') }}
                    </sw-button-process>
                    <sw-button-process
                        :isLoading="isLoading"
                        :processSuccess="demoSuccess"
                        variant="primary"
                        @process-finish="demoFinish"
                        @click="onClickDemo">
                        {{ $tc('topdata-connector.installDemoData') }}
                    </sw-button-process>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataTopFinderProSW6'>
                    <h3>{{ $tc('topdata-connector.finder.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataTopFinderProSW6' }}">
                        {{ $tc('topdata-connector.finder.settings') }}
                    </sw-button>
                    <div>
                        <sw-multi-select
                            :label="$tc('topdata-connector.finder.primaryBrands')"
                            :options="availableBrands"
                            :isLoading="brandsLoading"
                            valueProperty="value"
                            labelProperty="label"
                            @change="onChangeBrandsPrimary"
                            :value="brandsPrimary">
                        </sw-multi-select>
                        <sw-button-process
                            :isLoading="brandsLoading"
                            variant="primary"
                            @click="onSavePrimaryBrands">
                            {{ $tc('topdata-connector.finder.savePrimaryBrands') }}
                        </sw-button-process>
                    </div>
                </sw-card>
                        
                <sw-card v-if='pluginsEnabled.TopdataTopFeedSW6'>
                    <h3>{{ $tc('topdata-connector.feed.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataTopFeedSW6' }}">
                        {{ $tc('topdata-connector.feed.settings') }}
                    </sw-button>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataColors'>
                    <h3>{{ $tc('topdata-connector.colors.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataColors' }}">
                        {{ $tc('topdata-connector.colors.settings') }}
                    </sw-button>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataCompareProducts'>
                    <h3>{{ $tc('topdata-connector.compareProducts.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataCompareProducts' }}">
                        {{ $tc('topdata-connector.compareProducts.settings') }}
                    </sw-button>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataProductMenu'>
                    <h3>{{ $tc('topdata-connector.productMenu.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataProductMenu' }}">
                        {{ $tc('topdata-connector.productMenu.settings') }}
                    </sw-button>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataProductQuickView'>
                    <h3>{{ $tc('topdata-connector.productQuickView.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataProductQuickView' }}">
                        {{ $tc('topdata-connector.productQuickView.settings') }}
                    </sw-button>
                </sw-card>
                    
                <sw-card v-if='pluginsEnabled.TopdataCategoryFilterSW6'>
                    <h3>{{ $tc('topdata-connector.categoryFilter.pluginName') }}</h3>
                    <sw-button :routerLink="{ name: 'sw.extension.config', params: { namespace: 'TopdataCategoryFilterSW6' }}">
                        {{ $tc('topdata-connector.categoryFilter.settings') }}
                    </sw-button>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
